<ion-header>
 
    <ion-toolbar>
      <ion-title>
        Acceso
      </ion-title>
    </ion-toolbar>
 
</ion-header>
<ion-content class="auth-form">
  <ion-card id="home"> 
    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <ion-button [routerLink]="['/registration']" expand="block" color="dark">Registrate</ion-button>        
          <span class="already">o si ya tienes cuenta?</span>
          <ion-button [routerLink]="['/login']" expand="block" color="light">Inicia Sesion</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
 </ion-card>
</ion-content>